/* Caracteristicas global */
*{
margin: 0em;
padding: 0em;
background-image: url();
/* Ocultar nombre de dominio */
}
body>div>a>img{
    display: none;
}
/* Color de barra navegacion */
nav{
    background-color: whitesmoke;
}
table{
    border-width: 61em;
}
h2 , h3 ,h4 ,h5 ,h6{
 font-size: 20pt;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
strong{
    font-size: 16pt;
   }
label{
    color: mediumorchid;
}
span strong{
    color: mediumorchid;
}
.kill{
    color: darkslategrey;
}
.texto1{
    color: sienna;
}
.foote{
    
    background-image: url(..//imagenes/SENCILOS.png);
    
    
}
/* Color de header parte verde */
.abajo{
    background-color: darkturquoise;
    
}
.rayas1{
    display: none;
}
.antes{
    background-color: deeppink;
}
/* Color de lista pagina donaciones */
strong.list{
    color: mediumpurple;
    font-size: 20pt;
}
.kille{
    background-image: url();
}
h3 strong a{
    color: mediumpurple;
}
ol>li{
    font-size: 10pt;
}
.proyex{
    background-image: url();
}
/* caracteristicas de video */
.video{
    width: 100%;
    height: 100%;
    padding-top: 3%;
    align-items: center;
}
.morado{
    color: mediumpurple;
}
p{
    font-size: 19pt;
}
blockquote{
    font-family: cursive;
}
.suscri{
    font-size: 20pt;
    color: black;
}
