*{
margin: 0em;
padding: 0em;
background-image: url();

}
body>div>a>img{
    display: none;
}
h1{
    color: black;
    
}
nav{
    background-color: whitesmoke;
}

.portada{
    font-family: serif;
}
h2 h3 h4 h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer.container{
    background-repeat: repeat;
}
.goodi{
    border:     5px;
}
table{
    border-width: 4em;
}

h2 , h3 ,h4 ,h5 ,h6{
 font-size: 30pt;
}
strong{
    font-size: 16pt;
   }
label{
    color: mediumorchid;
}
span strong{
    color: mediumorchid;
}
.kill{
    color: darkslategrey;
}
.texto1{
    color: sienna;
}
.foote{
    
    background-image: url(..//imagenes/SENCILOS.png);
    
    
}
.abajo{
    background-color: darkturquoise;
    
}
.rayas1{
    display: none;
}
.antes{
    background-color: deeppink;
}
strong.list{
    color: mediumpurple;
    font-size: 20pt;
}
.kille{
    background-image: url();
}
h3 strong a{
    color: mediumpurple;
}
ol>li{
    font-size: 10pt;
}
.proyex{
    background-image: url();
}
.video{
    width: 100%;
    height: 100%;
    padding-top: 3%;
    align-items: center;
}
.morado{
    color: mediumpurple;
}
p{
    font-size: 19pt;
}
blockquote{
    font-family: cursive;
}
.suscri{
    font-size: 20pt;
    color: black;
}